@model Server.ViewModels.DocumentViewModel
@using HeyRed.MarkdownSharp;
<table class="title"><tr>
    <td><h1>@Html.DisplayFor(m => m.Title)</h1></td>
    <td><a asp-action="Edit">Edit</a>
    </td>
</tr></table>
@Html.Raw((new Markdown().Transform(Model.Body)))