@model Server.ViewModels.DocumentViewModel
@using HeyRed.MarkdownSharp;
<table class="title"><tr>
    <td><h1>@Html.DisplayFor(m => m.Title)</h1></td>
    <td><a asp-action="Edit">Edit</a></td>
    <td><a asp-action="GetHistory">History</a></td>
</tr>
    <tr><td colspan="3">
    Saved by @Html.DisplayFor(m => m.Sources.First().AuthorDisplayName) on @Html.DisplayFor(m => m.Sources.First().Timestamp)
    </td></tr>
</table>
<hr />
@Html.Raw((new Markdown().Transform(Model.Body)))