@model Server.ViewModels.AccountViewModel
@{
    ViewData["Title"] = "Account";
}
<table class="title"><tr>
    <td>
        <h1>@Html.DisplayFor(m => m.DisplayName)</h1>
        <div><a asp-area="" asp-controller="Account" asp-action="Logout">Sign out</a></div>
    </td>
    <td><img class="avatar" src="https://www.gravatar.com/avatar/@Model.GravatarHash" /></td>
</tr></table>
<h2>Documents</h2>
<table class="table">
    <tr>
        <th>Title</th>
        <th>Timestamp</th>
        <th></th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td><a asp-area="" asp-controller="Document" asp-action="Edit" asp-route-id="new">New</a></td>
    </tr>
@Html.DisplayFor(m => m.Documents)
</table>