@model Server.ViewModels.AccountListingViewModel
@using Microsoft.AspNetCore.WebUtilities;
<tr>
    <td><img class="avatar" src="https://www.gravatar.com/avatar/@Model.GravatarHash" /></td>
    <td>@Html.DisplayFor(m => m.DisplayName)</td>
	<td>
	    <a asp-controller="Account"
	            asp-action="GetAccount"
	            asp-route-id="@(WebEncoders.Base64UrlEncode(Model.Id.ToByteArray()))">
	    View
	    </a>
	</td>
</tr>