body {
    padding-top: 50px;
    padding-bottom: 20px
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px
}

.error {
    color: #ff3311;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%
}

/* QR code generator */
#qrCode {
    margin: 15px
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none
    }
}

table.title td {
    vertical-align: baseline;
    padding-right:1em;
}
table.accountList {
	border-collapse: separate;
	border-spacing: 0.5em
}
table.accountList img {
	width: 2em;
}

img.avatar {
     border-radius: 50%;
}
table#history {
    border-collapse: collapse;
    border-spacing: 0;
}
table#history path {
    stroke: black;
    stroke-width: 0.1;
    fill:none;
}
table#history circle {
    stroke: black;
    fill: black;
    stroke-width: 0.1;
}
table#history circle.here {
    fill: #ffee11;
}
table#history rect.even {
    fill: #fafafa;
}
table#history rect.odd {
    fill: #FFF
}
table#history td div.even {
    background: #fafafa
}
table#history td div.odd {
    background: #FFF;
}
table#history td div {
    padding-right: 1em;
}
table#history td {
    vertical-align:top;
}